In [ ]:
# Q1) Write a code to reverse a string.

str1 = input("Enter a String : ")
reverse_str1 = str1[::-1]
print("Reverse String is",reverse_str1)

Enter a String : Kartikey
Reverse String is yekitraK

In [ ]:
# Q2) Write a code to count the number of vowel in string.

str2 = input("Enter a String : ")
str2 = str2.lower()
count = 0
for i in str2:
    if i in ['a','e','i','o','u']:
        count += 1
print(count)

Enter a String : Address
2

In [ ]:
# Q3) Write code to check if given string is palindrome or not.

str3 = input("Enter a String : ")
str3 = str3.lower()
rev = str3[::-1]
if str3 == rev:
    print(f"{str3} is a palindrome!")
else:
    print(f"{str3} is not a palindrome!")

Enter a String : Malayalam
malayalam is a palindrome!

In [ ]:
# Q4) Write code to check if two given string are anagrams of each other.

str4 = "race"
str5 = "care"

if (sorted(str4) == sorted(str5)):
    print("The String are anagrams.")
else:
    print("The String aren't anagrams.")

The String are anagrams.

In [ ]:
# Q5) Write a code to find all occurrences of a given substring within another.

text = "This is a string with some repetitions. It is repeated again."
sub = "is"
indices = []
i = 0
while i < len(text):
  index = text.find(sub, i)
  if index == -1:
    break
  indices.append(index)
  i = index + len(sub)  # Start searching from the end of the previous occurrence

if indices:
  print("Substring found at indices:", indices)
else:
  print("Substring not found in the text.")

Substring found at indices: [2, 5, 43]

In [2]:
# Q6) Write a code to perform basic string compression using the counts of repeated characters.

text = "aabcccccaaa"
compressed_text = ""
count = 1

for i in range(1, len(text)):
    if text[i] == text[i-1]:
        count += 1
    else:
        compressed_text += text[i-1] + str(count)
        count = 1
compressed_text += text[-1] + str(count)

print(compressed_text)

a2b1c5a3

In [ ]:
# Q7) Write a code to determine if a string has all unique characters.

text = "abvcc"
text1 = list(text)
text2 = list(set(text))

text1.sort()
text2.sort()

if (text2 == text1):
    print(True)
else:
    print(False)

False

In [ ]:
# Q8) Write a code to convert a given string to uppercase or lowercase.

text3 = input("Enter a Text : ")
print("Uppercase: ",text3.upper())
print("Lowercase: ",text3.lower())

Enter a Text : Vinayak Gupta
Uppercase:  VINAYAK GUPTA
Lowercase:  vinayak gupta

In [ ]:
# Q9) Write a code to count the number of words in a string.

Str = "Hi This is Vinayak Gupta from Lucknow"
a = Str.split(' ')
print(a)
print("Number of words in a string is",len(a))

['Hi', 'This', 'is', 'Vinayak', 'Gupta', 'from', 'Lucknow']
Number of words in a string is 7

In [ ]:
# Q10) Write a code to concatenate two strings without using the + operators.

str1 = "Excel"
str2 = "ligent"

# str1 + str2 >> Not to use this

print("".join([str1,str2]))

Excelligent

In [ ]:
# Q11) Write a code to remove all occurrences of a specific element from a list.

list1 = [1,2,3,4,5,1,5,2,8,'Arpit','Ankit','Ajay','Arpit']

str3 = "Arpit"

for i in list1:
  if i == str3:
     list1.remove(str3)

print(list1)

[1, 2, 3, 4, 5, 1, 5, 2, 8, 'Ankit', 'Ajay']

In [ ]:
# Q12) Implement a code to find the second largest number in a given list of integer.

list_num = [2,5,6,7,1,3,4,5,6,9,8]

a = sorted(list_num)
print(a[-2])

8

In [ ]:
# Q13) Create a code to count the occurrences of each element in a list and return a dictionary with elements as keys and their counts as values.

data_list = [1, 2, 2, 3, 1, 4, 2]
counts = {}

# Iterate through the list
for element in data_list:
  # Check if element exists in the dictionary
  if element in counts:
    counts[element] += 1
  else:
    counts[element] = 1

# Print the dictionary with element counts
print(counts)

{1: 2, 2: 3, 3: 1, 4: 1}

In [ ]:
# Q14) Write a code to reverse a list in-place without using any build-in reverse function.

my_list = [1,2,3,4,5,6,7,8,9,10]
reverse_list =[]

for i in range(1,len(my_list)+1):
   reverse_list.append(my_list[-i])

print(reverse_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [3]:
# Q15) Implement a code to find and remove duplicates from a list while preserving the original order of elements.

list1 = [1,8,2,4,5,5,9,'Arpit','Ankit','Ajay','Arpit']

seen = set()
unique_list = []

for item in list1:
    if item not in seen:
        unique_list.append(item)
        seen.add(item)

print(unique_list)

[1, 8, 2, 4, 5, 9, 'Arpit', 'Ankit', 'Ajay']

In [ ]:
# Q16) Create a code to check if a given list is sorted (either in ascending or descending order) or not.

list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [10,9,8,7,6,5,4,3,2,1]

if (list1 == sorted(list1) or list1 == sorted(list1,reverse=True)):
    print("List is sorted")
else:
    print("List is not sorted")

List is sorted

In [ ]:
# Q17) Write a code to merge two sorted lists into a single sorted list.

list1 = [1,4,2,5,3,6,5]
list2 = [9,3,4,1,3]

list3 = sorted(list1) + sorted(list2)
print(sorted(list3))

[1, 1, 2, 3, 3, 3, 4, 4, 5, 5, 6, 9]

In [ ]:
# Q18) Implement a code to find the intersection of two given lists.

list1 = [1,4,2,5,3,6,5]
list2 = [9,3,4,1,3]
list3 = []

for i in set(list1):
  for j in set(list2):
    if i == j:
      list3.append(i)

print("Intersection of two given lists : ",list3)

Intersection of two given lists :  [1, 3, 4]

In [ ]:
# Q19) Create a code to find the union of two lists without duplicates.

list1 = [1,4,2,5,3,6,5]
list2 = [9,3,4,1,3]
list3 = []

list3 = set(list1) | set(list2)
list3  = list(list3)

print("Union of two given lists : ",list3)

Union of two given lists :  [1, 2, 3, 4, 5, 6, 9]

In [ ]:
# Q20) Write a code to shuffle a given list randomly without using any built-in shuffle functions.

import random

list1 = [1,4,2,5,3,6,5]
random.shuffle(list1)
print(list1)

[4, 3, 6, 2, 1, 5, 5]

In [4]:
# Q21) Write a code that takes two tuples as input and returns a new tuple containing elements that are common to both input tuples.

tuple1 = (1,2,3,4,5,6,7,8,9,10)
tuple2 = (1,3,5,7,9,11,13,15,17,19)
tuple3 = ()

tuple3 = set(tuple1) & set(tuple2)
print("Common elements of tuples are : ",tuple3)

Common elements of tuples are :  {1, 3, 5, 7, 9}

In [ ]:
# Q22) Create a code that prompts the user to enter two sets of integers separated by commas. Then, print the intersection of these two sets.

set1 = input("Enter a set of integers separated by commas : ")
set2 = input("Enter a set of integers separated by commas : ")

set1 = set1.split(',')
set2 = set2.split(',')
set1 = set(set1)
set2 = set(set2)

set3 = set1 & set2
print("Intersection of two sets are : ",set3)

Enter a set of integers separated by commas : 1,2,3,4,5,6
Enter a set of integers separated by commas : 3,4,5,7
Intersection of two sets are :  {'3', '4', '5'}

In [ ]:
# Q23) Write a code to concatenate two tuples. The function should take two tuples as input and return a new tuple containing elements from both input tuples

tuple1 = (1,2,3,4,5,6,7,8,9,10)
tuple2 = (1,3,5,7,9,11,13,15,17,19)

tuple3 = tuple1 + tuple2
print("Concatenated two tuples : ",tuple3)

# Function -
def concatenate_tuples(tuple1, tuple2):
    return tuple1 + tuple2

Concatenated two tuples :  (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 3, 5, 7, 9, 11, 13, 15, 17, 19)

In [ ]:
# Q24) Develop a code that prompts the user to input two sets of strings. Then, print the elements that are present in the first set but not in the second set.

str1 = input("Enter String1 : ")
str2 = input("Enter String2 : ")

for i  in str1:
  if i not in str2:
    print(i)


#Function :
def difference(set1, set2):
    return set1 - set2

Enter String1 : vhjvhk
Enter String2 : mdnk
v
h
j
v
h

In [ ]:
# Q25) Create a code that takes a tuple and two integers as input.
#The function should return a new tuple containing elements from the original tuple within the specified range of indices.


tpl1 = tuple(input("Enter a tuple : ").split())
start = int(input('Enter a start number: '))
end = int(input('Enter a end number: '))

print("New Sliced Tuple is ",tpl1[start : end])

#Function:
def subtuple_within_range(tpl, start, end):
    return tpl[start:end]

Enter a tuple : (mango, banana, orange)
Enter a start number: 1
Enter a end number: 3
New Sliced Tuple is  ('banana,', 'orange)')

In [ ]:
# Q26) Write a code that prompts the user to input two sets of characters. Then, print the union of these two sets.

set1 = set(input("Enter first set of characters: ").split())
set2 = set(input("Enter second set of characters: ").split())
print("Union of theses two sets is ", set1 | set2)

Enter first set of characters: a b c d
Enter second set of characters: x c r f
Union of theses two sets is  {'c', 'a', 'x', 'r', 'd', 'f', 'b'}

In [ ]:
# Q27) Develop a code that takes a tuple of integers as input. The function should return the maximum and minimum values from the tuple using tuple unpacking.

#Function :
def max_and_min(tpl):
    return max(tpl), min(tpl)

In [ ]:
max_and_min((1,2,3,4,5,6,7,8,9,10))

(10, 1)

In [ ]:
# Q28) Create a code that defines two sets of integers. Then, print the union, intersection, and difference of these two sets.

set1 = {1,2,3,4,5,6,7,8,9,10}
set2 = {1,3,5,7,9,11,13,15,17,19}

print("Union of two sets : ",set1 | set2)
print("Intersection of two sets : ",set1 & set2)
print("Difference of two sets : ",set1 - set2)

Union of two sets :  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19}
Intersection of two sets :  {1, 3, 5, 7, 9}
Difference of two sets :  {2, 4, 6, 8, 10}

In [ ]:
# Q29) Write a code that takes a tuple and an element as input. The function should return the count of occurrences of the given element in the tuple.

#Function :
def count_occurrences_in_tuple(tpl, element):
    return tpl.count(element)

In [ ]:
count_occurrences_in_tuple((1,2,3,4,5,6,5,8,9,5),5)

3

In [ ]:
# Q30) Develop a code that prompts the user to input two sets of strings. Then, print the symmetric difference of these two sets.

set1 = set(input("Enter first set of strings: ").split())
set2 = set(input("Enter second set of strings: ").split())
print("Symmetric difference of theses two sets is ", set1 ^ set2)

Enter first set of strings: a b c d e f g
Enter second set of strings: s c f g r
Symmetric difference of theses two sets is  {'a', 'r', 'd', 's', 'b', 'e'}

In [ ]:
# Q31) Write a code that takes a list of words as input and returns a dictionary where the keys are unique words and the values are the frequencies of those words in the input list.

list1 = ['Apple', 'Mango', 'Banana', 'Apple', 'Mango', 'Banana', 'Apple', 'Mango']

dict1 = {}

for i in list1:
  if i in dict1:
    dict1[i] += 1
  else:
    dict1[i] = 1

print(dict1)

{'Apple': 3, 'Mango': 3, 'Banana': 2}

In [ ]:
# Q32) Write a code that takes two dictionaries as input and merges them into a single dictionary. If there are common keys, the values should be added together.

dict1 = {'Apple' : 2, 'Orange' : 3 , 'Chilli' : 10}
dict2 = {'Orange' : 1, 'Blueberry' :  10 , 'Apple' : 3, 'Watermelon' : 4}
merged_dict = dict1

for key, value in dict2.items():

  if key in merged_dict:
    merged_dict[key] = merged_dict[key] + value

  else:
    merged_dict[key] = value

print(merged_dict)

{'Apple': 5, 'Orange': 4, 'Chilli': 10, 'Blueberry': 10, 'Watermelon': 4}

In [1]:
# Q33) Write a code to access a value in a nested dictionary. The function should take the dictionary and a list of keys as input, and return the corresponding value.
# If any of the keys do not exist in the dictionary, the function should return None.

nested_dict = {'a': {'b': {'c': 10}}}
keys = ['a', 'b', 'c']

current_dict = nested_dict
for key in keys:
  if key not in current_dict:
    value = None
    break
  else:
    current_dict = current_dict[key]
    value = current_dict

print(value)

10

In [ ]:
# Q34) Write a code that takes a dictionary as input and returns a sorted version of it based on the values. You can choose whether to sort in ascending or descending order.

dict1 = {'Mango': 1, 'Watermelon' : 4, 'Banana' : 2, 'Apple' : 3}
sorted_dict1 = {}

a = sorted(dict1.items(), key=lambda item: item[1])

sorted_dict1 = dict(a)

print(sorted_dict1)

{'Mango': 1, 'Banana': 2, 'Apple': 3, 'Watermelon': 4}

In [ ]:
# Q35) Write a code that inverts a dictionary, swapping keys and values. Ensure that the inverted dictionary correctly handles cases where multiple keys have the same value by storing the keys as a list in the inverted dictionary.

dict1 = {'Apple' : 'Sweet', 'Orange' : 'Citrus', 'Number' :  2, 'Dict1' : 4 , 'Candy' : 'Sweet' , 'Dict2' : 4}

inverted_dict1 = {}

for key, value in dict1.items():

   if value in inverted_dict1:
     inverted_dict1[value].append(key)

   else:
     inverted_dict1[value] = [key]

print("Inverted Dictionary is : \n" , inverted_dict1)

Inverted Dictionary is :
 {'Sweet': ['Apple', 'Candy'], 'Citrus': ['Orange'], 2: ['Number'], 4: ['Dict1', 'Dict2']}